//color
$white:       #fff;
$lightgray:      #d3d3d3;
$gray:        #808080;
$gray-1:      #9e9e9e;
$gray-3:      #f1f1f1;
$black:       #000;
$red:         #f00;
$blue:        #2e8a9c;
$brown:       #8c8880;
$code-bg:      #4c6873;

//width
$w-xl:        1200px;