#layout_home{
padding: 50px 30px;
@include mq-down(sp){
  padding: 0;
}

/*---------------
 ■ box
------------------*/
.box{
  @include mq-up(sp){
    box-shadow: 0px 0px 5px $lightgray;
  }

  .box_top{
    font-size: 12px;
    .tags{
      a:not(:last-child)::after{
        content: ">";
        margin: 0 3px;
      }
    }
  }
}
}