/*----------------------------
  ■ header
-----------------------------*/
#header{
  .head_title{
    text-align: center;
    padding: 30px 0;

    h1{
      font-size: 40px;
      span{
        color: $red;
      }
    }
    p{
      font-size: 15px;
    }
  }
  .head_nav{
    background-color: $blue;
    .items{
      a{
        @include mq-down(sp){
          display: none;
        }
        color: $white;
        font-weight: bold;
        position: relative;
        &:after{
          content: '';
          display: block;
          position: absolute;
          border-radius: 0px;
          background-color: red;
          width: 0;
          height: 3px;
          transition: .3s ease-in-out;
          bottom: -4px;
          left: 0;
        }
        &:hover::after{
          width: 100%;
        }
      }
      .fa-bars{
        @include mq-up(sp){
          display: none;
        }
        color: white;
        font-size: 30px;
        margin: 13px 0;
        cursor: pointer;
      }
    }
  }
}